.attendancePage {
  width: 100%;

  .logo {
    margin-left: 20px;
    margin-top: 20px;
  }

  .attendance__container {
    padding: 1rem 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1000px) {
      padding: 1rem 2rem;
    }
  }

  .header {
    height: 72px;
    width: 480px;

    background-color: #1678cb;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 750px) {
      height: 52px;
      width: 200px;
    }

    h2 {
      font-size: 36px;
      font-weight: 600;
      color: #ffffff;

      @media screen and (max-width: 750px) {
        font-size: 16px;
        font-weight: 200;
      }
    }
  }
}
